<!-- course_detail.html -->
{% extends "home.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <!-- Course Detail Section -->
            <div class="col-md-8">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        <h1 class="card-title">{{ course.name }}</h1>
                        <p class="card-text">{{ course.description }}</p>
                        
                        <!-- Render syllabus content as Markdown -->
                        <div class="mt-4">
                            <h5>Syllabus:</h5>
                            <div class="markdown-content">
                                {{ course.syllabus_html | safe }}
                            </div>
                        </div>

                        <div class="mt-4">
                            <p><strong>Start Date:</strong> {{ course.start_date }}</p>
                            <p><strong>End Date:</strong> {{ course.end_date }}</p>
                        </div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'enroll_now' course.id %}" class="btn btn-primary mt-3">Enroll Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Platform and Join URL Section -->
            {% if user.is_authenticated %} 
            <div class="col-md-4">
                <div class="card shadow-sm border-light mb-4">
                    <div class="card-body">
                        {% if course.platform %}
                            <h5 class="card-title">Platform</h5>
                            <p><strong>{{ course.platform }}</strong></p>
                        {% endif %}
                        {% if course.join_url %}
                            <h5 class="card-title">Join URL</h5>
                            <a href="{{ course.join_url }}" target="_blank">{{ course.join_url }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}